@page "/devicesetup"
@using DiamondScout.WebApp.Shared.Components
@using ParagonRobotics.DiamondScout.Common
@using ReactorBlazorQRCodeScanner

<h3>Device Setup</h3>

<div>
    <ScanData OnScan="HandleScan" />
</div>
<br/>
<div class="container">
    <div class="mb-3">
        <label>Scouter Name</label>
        <select class="form-select" value="@Name" @onchange="OnUserChangedInternal">
            @foreach (var userName in AvailableUsers)
            {
                <option value="@userName">@userName</option>
            }
        </select>
    </div>


    <button class="btn btn-primary" @onclick="InitializeDevice">
        Initialize
    </button>

    @if (!string.IsNullOrWhiteSpace(ScanError))
    {
        <p class="text-danger mt-2">@ScanError</p>
    }
</div>

<br/>
<div class="reset-modal">
    <h3>Reset User Data</h3>

    <input type="password"
           @bind="ResetPassword"
           placeholder="Enter admin password"/>

    <button @onclick="ConfirmResetPassword">Confirm Reset</button>
    <button @onclick="() => ShowResetPasswordPrompt = false">Cancel</button>

    @if (!string.IsNullOrEmpty(ResetError))
    {
        <p style="color:red">@ResetError</p>
    }
</div>